.sm_v {
  width: 1349px;
  height: auto; }
  .sm_v .sm_detail_v {
    width: 1202px;
    margin: auto auto; }
    .sm_v .sm_detail_v .sm_top_v {
      margin-top: 16px;
      font-size: 14px;
      color: #485157;
      letter-spacing: 0.87px;
      text-align: left; }
      .sm_v .sm_detail_v .sm_top_v a {
        cursor: pointer; }
    .sm_v .sm_detail_v .goods_v {
      width: 100%; }
      .sm_v .sm_detail_v .goods_v .goods_left_v {
        width: 783px;
        float: left; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v {
          margin-top: 101px;
          width: 783px;
          min-height: 734px;
          border: 1px solid #EAEAEA;
          border-radius: 3px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .top_tips {
            position: absolute;
            margin: -10px auto auto 25px;
            background: #ffffff; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .top_tips .left_line {
              margin-left: 5px;
              vertical-align: middle;
              width: 5px;
              height: 16px;
              background: #CDCDCD;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .top_tips .title {
              margin: auto 5px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.8;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              line-height: 20px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell {
            margin-top: 12px;
            font-size: 0;
            /**
             * Create the hover event of the tick
             */
            /**
             * Create the checkbox state for the tick
             */ }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .title {
              vertical-align: middle;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              width: 60px;
              text-align: right;
              line-height: 20px;
              margin-left: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .subtitle {
              vertical-align: middle;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              display: inline-block;
              line-height: 20px;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .must {
              vertical-align: middle;
              margin-left: 10px;
              display: inline-block;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              line-height: 20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .normal_input {
              margin-left: 12px;
              vertical-align: middle;
              width: 472px;
              height: 32px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              outline-color: #6BC2EF;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              padding-left: 8px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .small1 {
              width: 142px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .small2 {
              width: 76px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .small3 {
              width: 232px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .w150 {
              width: 150px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .w84 {
              width: 84px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell label {
              font-size: 14px;
              color: #414141;
              letter-spacing: 1px;
              vertical-align: middle; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell input[type=checkbox] {
              visibility: hidden;
              vertical-align: middle; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rg_cb {
              font-size: 0;
              width: 28px;
              height: 28px;
              position: relative;
              display: inline-block;
              vertical-align: middle; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rg_cb label {
              vertical-align: middle;
              cursor: pointer;
              position: absolute;
              width: 22px;
              height: 22px;
              border: 1px solid #cdcdcd;
              border-radius: 4px;
              margin-top: 3px;
              top: 0;
              left: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rg_cb label:after {
              opacity: 0.0;
              content: '';
              position: absolute;
              width: 14px;
              height: 8px;
              background: transparent;
              top: 4px;
              left: 3px;
              border: 2px solid #6bc2ef;
              border-top: none;
              border-right: none;
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rgcb_lbl {
              font-size: 14px;
              margin-top: 4px;
              margin-left: 12px;
              vertical-align: middle;
              color: #414141;
              letter-spacing: 1px;
              display: inline-block;
              font-weight: normal; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .bv {
              display: block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rg_cb label:hover::after {
              opacity: 0.0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .rg_cb input[type=checkbox]:checked + label:after {
              opacity: 1; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .no {
              visibility: hidden; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .select {
              margin-left: 12px;
              vertical-align: middle;
              width: 232px;
              height: 32px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .add_category {
              margin-left: 12px;
              vertical-align: middle;
              display: inline-block;
              height: 32px;
              line-height: 32px;
              font-size: 14px;
              color: #56BAF2;
              letter-spacing: 0.87px;
              cursor: pointer; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .small3 {
              width: 150px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .uploadBtn {
              width: 68px;
              height: 68px;
              vertical-align: middle;
              background: #D8D8D8;
              border-radius: 5px;
              display: inline-block;
              margin-left: 12px;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              text-align: center;
              line-height: 68px;
              cursor: pointer; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .image_list {
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .uploadImage {
              vertical-align: middle;
              width: 68px;
              height: 68px;
              border-radius: 5px;
              display: inline-block;
              margin-left: 12px;
              margin-right: 8px; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .uploadImage .image {
                width: 68px;
                height: 68px;
                border-radius: 5px; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .uploadImage .delete {
                width: 16px;
                height: 16px;
                cursor: pointer;
                display: inline-block;
                margin-top: -74px;
                margin-left: 58px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .goods_basic_info_v .goods_cell .tips {
              margin-left: 20px;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #7A7A7A;
              letter-spacing: 0.75px; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v {
          margin-top: 52px;
          width: 783px;
          min-height: 443px;
          border: 1px solid #EAEAEA;
          border-radius: 3px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .top_tips {
            position: absolute;
            margin: -10px auto auto 25px;
            background: #ffffff; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .top_tips .left_line {
              margin-left: 5px;
              vertical-align: middle;
              width: 5px;
              height: 16px;
              background: #CDCDCD;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .top_tips .title {
              margin: auto 5px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.8;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              line-height: 20px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .goods_cell {
            margin-top: 52px;
            font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .goods_cell .must {
              vertical-align: top;
              margin-left: 10px;
              display: inline-block;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              line-height: 20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .goods_cell .title {
              vertical-align: top;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              width: 60px;
              text-align: right;
              line-height: 20px;
              margin-left: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .summary_info_v .goods_cell .ed {
              margin-left: 12px;
              display: inline-block; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v {
          margin-top: 52px;
          width: 783px;
          min-height: 478px;
          border: 1px solid #EAEAEA;
          border-radius: 3px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .top_tips {
            position: absolute;
            margin: -10px auto auto 25px;
            background: #ffffff; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .top_tips .left_line {
              margin-left: 5px;
              vertical-align: middle;
              width: 5px;
              height: 16px;
              background: #CDCDCD;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .top_tips .title {
              margin: auto 5px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.8;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              line-height: 20px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell {
            margin-top: 52px;
            font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .must {
              vertical-align: middle;
              margin-left: 10px;
              display: inline-block;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              line-height: 20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .title {
              vertical-align: middle;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              width: 60px;
              text-align: right;
              line-height: 20px;
              margin-left: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .subtitle {
              vertical-align: middle;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              line-height: 32px;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .ed {
              margin: 12px auto auto 96px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .select_tab {
              vertical-align: middle;
              width: 60px;
              height: 22px;
              display: inline-block;
              background: #FFFFFF;
              border: 1px solid #E1E1E1;
              border-radius: 3px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              text-align: center;
              cursor: pointer;
              line-height: 22px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .active {
              background: #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              border: none; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .normal_input {
              margin-left: 12px;
              vertical-align: middle;
              width: 472px;
              height: 32px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              outline-color: #6BC2EF;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              padding-left: 8px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .w150 {
              width: 150px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .content_info_v .goods_cell .time_item {
              display: inline-block; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v {
          margin-top: 54px;
          width: 783px;
          min-height: 679px;
          border: 1px solid #EAEAEA;
          border-radius: 3px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .top_tips {
            position: absolute;
            margin: -10px auto auto 25px;
            background: #ffffff; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .top_tips .left_line {
              margin-left: 5px;
              vertical-align: middle;
              width: 5px;
              height: 16px;
              background: #CDCDCD;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .top_tips .title {
              margin: auto 5px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.8;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              line-height: 20px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell {
            margin-top: 12px;
            font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .add_rule {
              width: 68px;
              height: 22px;
              display: inline-block;
              background: #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              line-height: 22px;
              text-align: center;
              margin-left: 96px;
              cursor: pointer;
              margin-bottom: 38px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .add_rule:active {
              background: #3caee9; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .title {
              vertical-align: top;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              width: 60px;
              text-align: right;
              line-height: 20px;
              margin-left: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .subtitle {
              vertical-align: top;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              line-height: 32px;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .must {
              vertical-align: top;
              margin-left: 10px;
              display: inline-block;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              line-height: 20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .textarea {
              vertical-align: top;
              margin-left: 10px;
              width: 660px;
              height: 118px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              resize: none;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              padding-left: 7px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .rule_list_v {
              display: inline-block; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .rule_list_v .rule_item {
                margin-bottom: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .cinput {
              margin-left: 12px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              display: inline-block;
              width: 120px;
              height: 32px;
              font-size: 0; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .cinput .input {
                vertical-align: middle;
                width: 77px;
                height: 32px;
                border: none;
                font-size: 14px;
                color: #7A7A7A;
                padding-left: 8px;
                letter-spacing: 0.87px;
                outline: none; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .cinput .line {
                vertical-align: middle;
                width: 1px;
                height: 32px;
                background: #EAEAEA;
                display: inline-block; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .cinput .count {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #7A7A7A;
                letter-spacing: 0.87px;
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
                text-align: center;
                width: 30px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .zinput {
              margin-left: 12px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              display: inline-block;
              width: 83px;
              height: 32px;
              font-size: 0; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .zinput .input {
                vertical-align: middle;
                width: 47px;
                height: 32px;
                border: none;
                font-size: 14px;
                color: #7A7A7A;
                padding-left: 8px;
                letter-spacing: 0.87px;
                outline: none; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .zinput .line {
                vertical-align: middle;
                width: 1px;
                height: 32px;
                background: #EAEAEA;
                display: inline-block; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .zinput .count {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #7A7A7A;
                letter-spacing: 0.87px;
                display: inline-block;
                vertical-align: middle;
                line-height: 32px;
                text-align: center;
                width: 25px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .delete {
              width: 16px;
              height: 16px;
              cursor: pointer;
              vertical-align: middle;
              margin-left: 16px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .rule_info_v .goods_cell .tips {
              margin-left: 12px;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              vertical-align: middle;
              line-height: 32px; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v {
          margin-top: 54px;
          width: 783px;
          min-height: 858px;
          border: 1px solid #EAEAEA;
          border-radius: 3px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .top_tips {
            position: absolute;
            margin: -10px auto auto 25px;
            background: #ffffff; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .top_tips .left_line {
              margin-left: 5px;
              vertical-align: middle;
              width: 5px;
              height: 16px;
              background: #CDCDCD;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .top_tips .title {
              margin: auto 5px;
              display: inline-block;
              vertical-align: middle;
              opacity: 0.8;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px;
              line-height: 20px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell {
            margin-top: 12px;
            font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .title {
              vertical-align: top;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              width: 60px;
              text-align: right;
              line-height: 32px;
              margin-left: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .subtitle {
              vertical-align: middle;
              font-family: PingFangSC-Semibold;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              line-height: 20px;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .must {
              vertical-align: middle;
              margin-left: 10px;
              display: inline-block;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              line-height: 20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .no {
              visibility: hidden; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list {
              display: inline-block; }
              .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item {
                margin-bottom: 12px; }
                .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item .subtitle {
                  vertical-align: middle;
                  font-family: PingFangSC-Semibold;
                  font-size: 14px;
                  color: #7A7A7A;
                  letter-spacing: 0.87px;
                  display: inline-block;
                  line-height: 20px;
                  margin-left: 12px; }
                .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item .normal_input {
                  margin-left: 12px;
                  vertical-align: middle;
                  width: 142px;
                  height: 32px;
                  background: #FFFFFF;
                  border: 1px solid #EAEAEA;
                  border-radius: 3px;
                  outline-color: #6BC2EF;
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  color: #222222;
                  letter-spacing: 0.87px;
                  padding-left: 8px; }
                .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item .small {
                  width: 84px; }
                .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item .mt12 {
                  margin-top: 12px; }
                .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .goods_child_list .goods_item .delete {
                  width: 16px;
                  height: 16px;
                  cursor: pointer;
                  vertical-align: middle;
                  margin-left: 16px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .add_goods {
              margin-left: 96px;
              display: inline-block;
              width: 68px;
              height: 22px;
              background: #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              line-height: 22px;
              text-align: center;
              cursor: pointer; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .add_goods:active {
              background: #3caee9; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .rdo {
              width: 16px;
              height: 16px;
              vertical-align: middle;
              display: inline-block;
              background: #f7ecb5;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .lbl {
              vertical-align: middle;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              display: inline-block;
              margin-left: 12px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .select {
              margin-left: 12px;
              vertical-align: middle;
              width: 150px;
              height: 32px;
              background: #FFFFFF;
              border: 1px solid #EAEAEA;
              border-radius: 3px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .info_list_v {
              vertical-align: middle;
              font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .info {
              margin-left: 20px;
              width: 60px;
              height: 22px;
              line-height: 22px;
              vertical-align: middle;
              display: inline-block;
              text-align: center;
              background: #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              float: left;
              border: 1px solid #6BC2EF; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .f {
              margin-left: 80px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .input1 {
              width: 60px;
              height: 22px;
              line-height: 22px;
              vertical-align: middle;
              display: inline-block;
              text-align: center;
              background: #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              float: left;
              border: 1px solid #6BC2EF; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .input2 {
              vertical-align: middle;
              width: 60px;
              height: 22px;
              background: #FFFFFF;
              border: 1px solid #6BC2EF;
              border-radius: 3px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              text-align: center; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .add_info {
              float: left;
              vertical-align: middle;
              margin-top: 10px;
              margin-left: 20px;
              text-align: center;
              cursor: pointer;
              width: 60px;
              height: 22px;
              display: inline-block;
              border: 1px solid #E1E1E1;
              border-radius: 3px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .add_info_v {
              margin-left: 20px;
              margin-top: 10px;
              float: left;
              vertical-align: middle;
              display: inline-block; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .delete {
              width: 16px;
              height: 16px;
              cursor: pointer;
              display: inline-block;
              vertical-align: middle;
              margin-left: -8px;
              margin-top: -20px; }
            .sm_v .sm_detail_v .goods_v .goods_left_v .other_info_v .goods_cell .no {
              visibility: hidden; }
        .sm_v .sm_detail_v .goods_v .goods_left_v .bot_v {
          margin-top: 160px;
          margin-bottom: 50px; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .bot_v .bot_btn {
            margin-left: 22px;
            display: inline-block;
            width: 88px;
            height: 32px;
            background: #6BC2EF;
            border-radius: 5px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0.87px;
            line-height: 32px;
            text-align: center;
            cursor: pointer; }
          .sm_v .sm_detail_v .goods_v .goods_left_v .bot_v .bot_btn:active {
            background: #3caee9; }
      .sm_v .sm_detail_v .goods_v .goods_right_v {
        width: 375px;
        float: left;
        margin-left: 20px; }
        .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v {
          margin-top: 101px;
          width: 375px;
          min-height: 800px;
          border: 1px solid #EAEAEA;
          border-radius: 3px;
          overflow: hidden; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .title {
            font-family: PingFangSC-Semibold;
            font-size: 14px;
            color: #7A7A7A;
            letter-spacing: 0.87px;
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .navi_bar {
            width: 375px;
            height: 55px; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v {
            background: rgba(215, 215, 215, 0.73);
            margin: 9px auto auto auto;
            width: 366px;
            height: 190px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .pre_cg {
              display: block;
              margin: 8px 12px auto auto;
              float: right;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .pre_title {
              display: block;
              margin: 90px 14px auto 14px;
              font-size: 16px;
              color: #222222;
              letter-spacing: 1px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .pre_subtitle {
              display: block;
              margin: 1px auto auto 14px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .pre_address {
              display: inline-block;
              margin: 1px auto auto 14px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .pre_price {
              display: inline-block;
              margin: 1px auto auto 14px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_preview_v .oprice {
              text-decoration: line-through; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v {
            width: 366px;
            height: 190px;
            margin: 9px auto auto auto;
            overflow: hidden;
            display: none; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .swiper-wrapper {
              z-index: 1; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .sw_image {
              width: 366px;
              height: 190px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view {
              position: absolute;
              margin-top: -100px;
              width: 366px;
              height: 100px;
              background: #000000;
              filter: alpha(opacity=50);
              -moz-opacity: 0.50;
              opacity: 0.50;
              z-index: 888; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view .pre_title {
                position: relative;
                display: block;
                margin: 20px 14px auto 14px;
                font-size: 16px;
                color: #ffffff;
                letter-spacing: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view .pre_subtitle {
                display: block;
                margin: 1px auto auto 14px;
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0.87px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view .pre_address {
                display: inline-block;
                margin: 1px auto auto 14px;
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0.87px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view .pre_price {
                display: inline-block;
                margin: 1px auto auto 14px;
                font-size: 14px;
                color: #ffffff;
                letter-spacing: 0.87px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .swiper_v .pre_view .oprice {
                display: inline-block;
                text-decoration: line-through; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell {
            margin-top: 10px;
            font-size: 0; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .char_list {
              margin-left: 40px;
              vertical-align: middle; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .char_list .char_item {
                line-height: 32px;
                height: 32px;
                font-size: 14px;
                color: #7A7A7A;
                letter-spacing: 0.87px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .goods_icon {
              margin-left: 14px;
              vertical-align: middle;
              width: 10px;
              height: 10px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .goods_tips_1 {
              vertical-align: middle;
              margin-left: 14px;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              width: 300px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .goods_tips_2 {
              vertical-align: middle;
              margin-left: 14px;
              font-size: 14px;
              color: #7A7A7A;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              width: 300px; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_info .goods_cell .goods_tips_3 {
              vertical-align: middle;
              margin-left: 14px;
              font-size: 14px;
              color: #E22238;
              letter-spacing: 0.87px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_detail {
            margin-top: 10px;
            border-top: 1px solid #e1e1e1; }
            .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_detail .goods_tab {
              width: 100%;
              height: 40px;
              text-align: center; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_detail .goods_tab .tab_c {
                width: 46px;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                display: inline-block;
                color: #222222;
                letter-spacing: 0.87px;
                text-align: center;
                cursor: pointer;
                margin: auto 15px; }
              .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_detail .goods_tab .tab_active {
                border-top: 1px solid #E22238; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_rule_v .title {
            font-size: 14px;
            color: #E22238;
            letter-spacing: 0.87px; }
          .sm_v .sm_detail_v .goods_v .goods_right_v .phone_v .goods_rule_v .subtitle {
            font-size: 14px;
            color: #7A7A7A;
            letter-spacing: 0.87px;
            display: block;
            text-align: center; }

.add_product_dialog {
  display: inline-block;
  width: 505px;
  margin-left: 12px; }
  .add_product_dialog .center_v {
    width: 504px; }
    .add_product_dialog .center_v .pro_center_v {
      width: 56px;
      height: 322px;
      float: left; }
      .add_product_dialog .center_v .pro_center_v img {
        width: 26px;
        height: 26px;
        margin-left: 15px;
        cursor: pointer; }
      .add_product_dialog .center_v .pro_center_v .right_b {
        margin-top: 130px; }
      .add_product_dialog .center_v .pro_center_v .left_b {
        margin-top: 64px; }
    .add_product_dialog .center_v .pro_v {
      float: left;
      width: 224px; }
      .add_product_dialog .center_v .pro_v .pro_title {
        font-size: 14px;
        color: #222222;
        letter-spacing: 0.87px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        display: inline-block;
        line-height: 32px; }
      .add_product_dialog .center_v .pro_v .pro_list_v {
        margin-top: 7px;
        width: 224px;
        height: 322px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        overflow: auto; }
        .add_product_dialog .center_v .pro_v .pro_list_v .pro_active {
          background-image: linear-gradient(-180deg, #a4e3f8 0%, #6bc2ef 100%); }
        .add_product_dialog .center_v .pro_v .pro_list_v .pro_item {
          width: 186px;
          height: 90px;
          padding: 11px 0px;
          border-bottom: 1px solid #eaeaea;
          display: inline-block;
          cursor: pointer; }
          .add_product_dialog .center_v .pro_v .pro_list_v .pro_item img {
            margin-left: 12px;
            width: 68px;
            height: 68px;
            float: left; }
          .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail {
            margin-left: 14px;
            float: left; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail span {
              display: block; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail .pro_title {
              font-size: 16px;
              color: #222222;
              letter-spacing: 1px;
              text-align: left; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail .pro_subtitle {
              font-size: 14px;
              color: #222222;
              letter-spacing: 0.87px; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail .pro_price {
              font-size: 18px;
              color: #ea6a79;
              letter-spacing: 1.12px;
              text-align: left;
              margin-top: 25px; }

/*# sourceMappingURL=/css/add_activity_goods.css.map */
