.ml_menu{
  background:#f9f9f9;
  width:180px;
  float: left;
}
.ml_menu_list{
    margin: 0px 32px auto 32px;
    .ml_menu_btn{
      cursor: pointer;
      display: table;
      vertical-align: middle;
      div{
        display: table-cell;
        vertical-align: middle;
        a{
          margin-left: 10px;
          cursor: pointer;
          font-size:18px;
          width: 75px;
          color:#3d464d;
          display: block;
          text-decoration: none;
        }
        .right_ic{
          width: 10px;
          height: 10px;
          display: none;
        }
        .left_ic{
          width: 15px;
          height: 14px;
        }
      }

    }
  .active{
    div{
      .right_ic{
        width: 10px;
        height: 10px;
        margin-left: 12px;
        display:inline-block;
      }
      .left_ic{
        width: 15px;
        height: 14px;
      }
    }
  }
}
.collapse{
  text-align: center;
  opacity:0.8;
  font-size:16px;
  ul{
    li{
      margin-top: 12px;
      a{
        color:#3d464d;
        cursor: pointer;
        text-decoration: none;
      }
      a:hover{
        color:#e22238;
      }
      .sec_menu_active{
        color:#e22238;
      }
    }
  }
}
