.sm_bg {
  width: 100%; }

.sm_right_v {
  float: left; }

.top_tab .category_title {
  cursor: pointer;
  margin-left: 52px;
  display: inline-block;
  font-size: 18px;
  color: #485157;
  letter-spacing: 1.12px; }
  .top_tab .category_title .arrow {
    visibility: hidden; }
  .top_tab .category_title .up_arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-bottom: 10px solid #e1e1e1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: 5px;
    margin-left: 28px; }
  .top_tab .category_title .up_arrow_bg {
    position: absolute;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: none;
    margin-top: 8px;
    margin-left: 30px; }
  .top_tab .category_title .lf {
    margin-left: 36px; }
  .top_tab .category_title .l {
    margin-left: 38px; }
.top_tab .active {
  font-size: 18px;
  color: #E74356; }
  .top_tab .active .arrow {
    visibility: visible; }

.sm_center_v {
  width: 1350px;
  margin: auto auto; }

.page_v {
  margin: 85px auto 80px 32px; }
  .page_v .page_tips {
    opacity: 0.6;
    font-size: 14px;
    color: #222222; }
  .page_v select {
    width: 60px;
    height: 28px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    margin-left: 8px; }
  .page_v .page_right_v {
    float: right; }
    .page_v .page_right_v .forword_v {
      float: left;
      display: inline-block; }
      .page_v .page_right_v .forword_v .page_forward {
        float: left;
        width: 64px;
        height: 28px;
        display: inline-block;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        line-height: 28px;
        cursor: pointer;
        opacity: 0.6;
        font-size: 14px;
        color: #222222; }
      .page_v .page_right_v .forword_v .left_v {
        width: 28px;
        height: 28px;
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        cursor: pointer;
        margin: auto 5px; }
        .page_v .page_right_v .forword_v .left_v .left_arrow {
          position: absolute;
          width: 0px;
          height: 0px;
          line-height: 0px;
          border-top: 8px solid transparent;
          border-right: 8px solid #818181;
          border-bottom: 8px solid transparent;
          margin: 5px auto auto 7px; }
    .page_v .page_right_v .next_v {
      display: inline-block; }
      .page_v .page_right_v .next_v .page_next {
        width: 64px;
        height: 28px;
        display: inline-block;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        line-height: 28px;
        cursor: pointer;
        opacity: 0.6;
        font-size: 14px;
        color: #222222; }
      .page_v .page_right_v .next_v .right_v {
        float: left;
        width: 28px;
        height: 28px;
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        cursor: pointer;
        margin: auto 5px; }
        .page_v .page_right_v .next_v .right_v .right_arrow {
          position: absolute;
          width: 0px;
          height: 0px;
          line-height: 0px;
          border-top: 8px solid transparent;
          border-left: 8px solid #818181;
          border-bottom: 8px solid transparent;
          margin: 5px auto auto 10px; }
  .page_v .page_count_v {
    display: inline-block; }
    .page_v .page_count_v a {
      width: 28px;
      height: 28px;
      display: inline-block;
      line-height: 28px;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #E2E2E2;
      border-radius: 3px;
      opacity: 0.6;
      font-size: 14px;
      color: #222222;
      letter-spacing: 0.87px;
      cursor: pointer; }
  .page_v .page_total_v {
    display: inline-block; }
    .page_v .page_total_v a {
      width: 28px;
      height: 28px;
      display: inline-block;
      line-height: 28px;
      text-align: center;
      background: #FFFFFF;
      border: 1px solid #E2E2E2;
      border-radius: 3px;
      opacity: 0.6;
      font-size: 14px;
      color: #222222;
      letter-spacing: 0.87px;
      cursor: pointer; }

.sm_detail_v {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.12);
  margin: 15px auto auto 32px;
  border-radius: 8px;
  width: 1099px; }
  .sm_detail_v .top_line_v {
    font-size: 0;
    margin: 35px auto auto 19px; }
    .sm_detail_v .top_line_v .output {
      vertical-align: middle;
      background: #6BC2EF;
      border-radius: 5px;
      width: 88px;
      height: 32px;
      line-height: 32px;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 1px;
      cursor: pointer; }
    .sm_detail_v .top_line_v .output:active {
      background: #3caee9; }
    .sm_detail_v .top_line_v .search_v {
      vertical-align: middle;
      width: 360px;
      height: 32px;
      background: #F9F9F9;
      border: 1px solid #E1E1E1;
      border-radius: 100px;
      display: inline-block;
      margin-left: 616px;
      font-size: 0; }
      .sm_detail_v .top_line_v .search_v input[type='text'] {
        border: none;
        outline: none;
        width: 310px;
        height: 30px;
        color: #222222;
        font-size: 14px;
        margin-left: 20px;
        vertical-align: middle;
        background: transparent; }
      .sm_detail_v .top_line_v .search_v img {
        width: 22px;
        height: 22px;
        cursor: pointer; }
  .sm_detail_v .search_detail_v {
    font-size: 0;
    margin: 22px auto auto 14px; }
    .sm_detail_v .search_detail_v span {
      vertical-align: middle;
      margin-left: 5px;
      opacity: 0.6;
      font-size: 14px;
      color: #222222;
      letter-spacing: 1px;
      line-height: 32px;
      height: 32px; }
    .sm_detail_v .search_detail_v input[type='text'] {
      vertical-align: middle;
      background: #F9F9F9;
      border: 1px solid #E1E1E1;
      border-radius: 3px;
      width: 110px;
      height: 32px;
      padding-left: 6px;
      color: #222222;
      font-size: 14px;
      margin-left: 5px; }
    .sm_detail_v .search_detail_v .search_btn {
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      border-radius: 5px;
      font-size: 14px;
      color: #222222;
      letter-spacing: 1.75px;
      width: 88px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer; }
  .sm_detail_v .order_list {
    margin: 29px 19px 18px 18px;
    background: #FFFFFF; }
    .sm_detail_v .order_list .order_item_detail {
      margin-bottom: 12px;
      border: 1px solid #EAEAEA;
      border-radius: 5px;
      overflow: hidden; }
    .sm_detail_v .order_list .order_top {
      background: #F9F9F9;
      width: 100%;
      height: 36px;
      font-size: 0; }
      .sm_detail_v .order_list .order_top .bz {
        float: right;
        display: inline-block;
        vertical-align: middle; }
        .sm_detail_v .order_list .order_top .bz .remark_drop {
          left: -160px;
          width: 246px;
          height: 141px;
          background: #FFFFFF;
          z-index: 999; }
          .sm_detail_v .order_list .order_top .bz .remark_drop .up_arrow {
            position: absolute;
            width: 0px;
            height: 0px;
            line-height: 0px;
            border-bottom: 10px solid #cccccc;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            left: 190px;
            margin-top: -15px; }
          .sm_detail_v .order_list .order_top .bz .remark_drop .up_arrow_bg {
            position: absolute;
            width: 0px;
            height: 0px;
            line-height: 0px;
            -moz-opacity: 1;
            opacity: 1;
            filter: alpha(opacity=50);
            border-bottom: 8px solid #ffffff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            left: 192px;
            margin-top: -13px; }
          .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v {
            width: 246px;
            height: 131px; }
            .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v .dtitle {
              color: #7a7a7a;
              margin: auto auto auto 14px;
              display: block;
              position: relative; }
            .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v .dcontent {
              color: #222222;
              position: relative;
              margin: auto 14px;
              display: block;
              line-height: 20px;
              max-height: 60px;
              overflow: hidden; }
            .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v a {
              vertical-align: middle;
              width: 68px;
              height: 22px;
              float: left;
              border-radius: 5px;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              text-align: center;
              line-height: 22px; }
            .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v .dclose {
              margin-left: 22px;
              background: #6BC2EF; }
            .sm_detail_v .order_list .order_top .bz .remark_drop .drop_v .dupdate {
              margin-left: 38px;
              background: #EA6A79; }
      .sm_detail_v .order_list .order_top span {
        font-family: PingFangSC-Semibold;
        vertical-align: middle;
        opacity: 0.6;
        line-height: 36px;
        font-size: 14px;
        color: #222222;
        letter-spacing: 0.87px; }
      .sm_detail_v .order_list .order_top .order_id {
        margin-left: 8px; }
      .sm_detail_v .order_list .order_top .order_time {
        margin-left: 50px; }
      .sm_detail_v .order_list .order_top .order_buy {
        margin-left: 45px; }
      .sm_detail_v .order_list .order_top .order_pt_id {
        margin-left: 54px;
        color: #3CAEE9; }
      .sm_detail_v .order_list .order_top .order_pt {
        color: #E22238;
        margin-left: 8px; }
      .sm_detail_v .order_list .order_top a {
        font-family: PingFangSC-Semibold;
        vertical-align: middle;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 52px;
        display: inline-block;
        width: 80px;
        height: 22px;
        text-align: center;
        cursor: pointer;
        float: right;
        font-size: 14px;
        letter-spacing: 0.87px;
        line-height: 22px;
        margin: 7px auto;
        margin-right: 10px; }
      .sm_detail_v .order_list .order_top .close_order {
        color: #7A7A7A; }
      .sm_detail_v .order_list .order_top .remark_b {
        color: #6BC2EF; }
      .sm_detail_v .order_list .order_top .remark_r {
        color: #EA6A79; }
    .sm_detail_v .order_list .order_item_list {
      width: 100%; }
      .sm_detail_v .order_list .order_item_list .order_item {
        margin: 9px auto auto auto;
        width: 100%; }
        .sm_detail_v .order_list .order_item_list .order_item .order_img {
          width: 68px;
          height: 68px;
          display: inline-block;
          margin-left: 8px;
          float: left; }
        .sm_detail_v .order_list .order_item_list .order_item .order_special {
          margin: 10px auto 10px 8px;
          background: #EA6A79;
          border-radius: 3px;
          height: 22px;
          width: auto;
          float: left; }
          .sm_detail_v .order_list .order_item_list .order_item .order_special .left_arrow {
            position: absolute;
            width: 0px;
            height: 0px;
            line-height: 0px;
            border-top: 5px solid transparent;
            border-right: 5px solid #EA6A79;
            border-bottom: 5px solid transparent;
            left: 259px;
            margin-top: 3px; }
          .sm_detail_v .order_list .order_item_list .order_item .order_special .tips {
            font-size: 12px;
            color: #FFFFFF;
            white-space: nowrap;
            line-height: 22px;
            margin: auto 5px; }
        .sm_detail_v .order_list .order_item_list .order_item .order_detail_c1 {
          height: 68px;
          width: 210px;
          float: left;
          display: inline-block;
          margin-left: 15px;
          font-size: 0; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c1 .title {
            font-family: PingFangSC-Semibold;
            display: block;
            font-size: 16px;
            color: #222222;
            white-space: nowrap; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c1 .subtitle {
            display: block;
            opacity: 0.6;
            font-size: 14px;
            color: #222222;
            white-space: nowrap; }
        .sm_detail_v .order_list .order_item_list .order_item .order_detail_c2 {
          height: 68px;
          width: 500px;
          float: left;
          display: inline-block;
          font-size: 0; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c2 .price {
            margin: 18px auto auto 100px;
            font-size: 16px;
            color: #222222;
            display: inline-block; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c2 .count {
            margin: 18px auto auto 95px;
            font-size: 16px;
            color: #222222;
            display: inline-block; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c2 .total {
            font-family: PingFangSC-Semibold;
            margin: 18px auto auto 95px;
            font-size: 22px;
            color: #222222;
            display: inline-block;
            text-align: right; }
        .sm_detail_v .order_list .order_item_list .order_item .order_detail_c3 {
          display: inline-block;
          float: left; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c3 span {
            display: block;
            font-size: 16px; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c3 .order_status {
            color: #222222; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c3 .order_detail_btn {
            color: #3CAEE9;
            cursor: pointer;
            display: block;
            font-size: 16px; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c3 .order_wl {
            color: #E22238;
            cursor: pointer; }
        .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 {
          display: inline-block;
          float: left; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 .order_pay {
            background: #6BC2EF;
            border-radius: 3px;
            width: 68px;
            height: 22px;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            color: #FFFFFF;
            margin: 23px auto auto 40px;
            cursor: pointer; }
          .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 .order_delay_v {
            margin-left: 40px; }
            .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 .order_delay_v img {
              width: 12px;
              height: 12px; }
            .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 .order_delay_v span {
              font-size: 12px;
              color: #222222; }
            .sm_detail_v .order_list .order_item_list .order_item .order_detail_c4 .order_delay_v a {
              background: #C9D4DC;
              border-radius: 3px;
              width: 68px;
              height: 22px;
              display: block;
              margin-top: 5px;
              line-height: 22px;
              font-size: 14px;
              color: #FFFFFF;
              text-align: center;
              cursor: pointer; }
    .sm_detail_v .order_list .order_bot {
      width: 100%;
      margin-bottom: 7px; }
      .sm_detail_v .order_list .order_bot .title {
        margin-left: 8px;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        color: #6BC2EF; }
      .sm_detail_v .order_list .order_bot .subtitle {
        margin-left: 16px;
        opacity: 0.6;
        font-size: 12px;
        color: #222222; }

/*# sourceMappingURL=order_manage.css.map */
