.sm_v {
  width: 1349px;
  height: auto;
  .sm_detail_v {
    width: 1202px;
    margin: auto auto;
    .sm_top_v {
      margin-top: 16px;
      font-size: 14px;
      color: #485157;
      letter-spacing: 0.87px;
      text-align: left;
      a {
        cursor: pointer;
      }
    }
  }
  .sm_center_v{
    width: 1065px;
    min-height: 434px;
    margin: 123px auto 50px auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    overflow: hidden;
    .sm_center_top{
      height: 34px;
      width: 100%;
      background: #F9F9F9;
      span{
        font-size: 16px;
        color: #7A7A7A;
        letter-spacing: 0px;
        line-height: 34px;
      }
      .title{
        margin-left: 18px;
        float: left;
      }
      .subtitle{
        margin-right: 150px;
        float: right;
      }
    }
    .category_list{
      .category_item{
        .fc_item{
          min-height: 40px;
          font-size: 0;
          width: 100%;
          border-bottom: 1px solid #eaeaea;
          span{
            vertical-align: middle;
            font-size: 16px;
            color: #222222;
            letter-spacing: 0px;
            line-height: 40px;
            margin-left: 18px;
          }
          img{
            vertical-align: middle;
            cursor: pointer;
            margin-left: 20px;

            width: 12px;
            height: 15px;
          }
        }
        .sc_list{
          .sc_item{
            min-height: 40px;
            border-bottom: 1px solid #eaeaea;
            width: 100%;
            font-size: 0;
            .subtitle{
              font-size: 16px;
              color: #222222;
              letter-spacing: 0px;
              line-height: 40px;
              margin-left: 18px;
              vertical-align: middle;
            }
            img{
              cursor: pointer;
              margin-left: 20px;
              width: 12px;
              height: 15px;
              vertical-align: middle;
            }
            .point{
              width: 6px;
              height: 6px;
              background: #7A7A7A;
              border-radius: 10px;
              display: inline-block;
              margin: 17px auto 17px 24px;
              vertical-align: middle;
            }

          }


        }
        .thd_list{
          .thd_item {
            min-height: 40px;
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            font-size: 0;
            .subtitle {
              font-size: 16px;
              color: #222222;
              letter-spacing: 0px;
              line-height: 40px;
              margin-left: 18px;
              vertical-align: middle;
            }
            img {
              cursor: pointer;
              margin-left: 20px;
              width: 12px;
              height: 15px;
              vertical-align: middle;
            }
            .point {
              width: 6px;
              height: 6px;
              background: #cdcdcd;
              border-radius: 10px;
              display: inline-block;
              margin: 17px auto 17px 60px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
.operating{
  display: inline-block;
  float: right;
  height: 40px;
  a{
    line-height: 40px;
    cursor: pointer;
  }
  .add{
    font-size: 14px;
    color: #3CAEE9;
    letter-spacing: 0.87px;
    margin-right: 12px;
  }
  .down{
    font-size: 14px;
    color: #F8B878;
    letter-spacing: 0.87px;
    margin-right: 12px;
  }
  .up{
    font-size: 14px;
    color: #F8B878;
    letter-spacing: 0.87px;
    margin-right: 12px;
  }
  .del{
    font-size: 14px;
    color: #EA6A79;
    letter-spacing: 0.87px;
    margin-right: 21px;
  }
  .none{
    visibility: hidden;
  }
}
