.add_product_dialog {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 677px;
  height: 485px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .add_product_dialog .center_v {
    width: 504px;
    margin: 54px auto auto auto; }
    .add_product_dialog .center_v .pro_center_v {
      width: 56px;
      height: 322px;
      float: left;
      margin-top: 29px; }
      .add_product_dialog .center_v .pro_center_v img {
        width: 26px;
        height: 26px;
        margin-left: 15px;
        cursor: pointer; }
      .add_product_dialog .center_v .pro_center_v .right_b {
        margin-top: 80px; }
      .add_product_dialog .center_v .pro_center_v .left_b {
        margin-top: 64px; }
    .add_product_dialog .center_v .pro_v {
      float: left;
      width: 224px; }
      .add_product_dialog .center_v .pro_v .pro_title {
        font-size: 16px;
        color: #7a7a7a;
        letter-spacing: 1px;
        text-align: left;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        display: inline-block; }
      .add_product_dialog .center_v .pro_v .pro_list_v {
        margin-top: 7px;
        width: 224px;
        height: 322px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        overflow: auto; }
        .add_product_dialog .center_v .pro_v .pro_list_v .pro_active {
          background-image: linear-gradient(-180deg, #a4e3f8 0%, #6bc2ef 100%); }
        .add_product_dialog .center_v .pro_v .pro_list_v .pro_item {
          width: 186px;
          height: 90px;
          padding: 11px 0px;
          border-bottom: 1px solid #eaeaea;
          display: inline-block;
          cursor: pointer; }
          .add_product_dialog .center_v .pro_v .pro_list_v .pro_item img {
            margin-left: 12px;
            width: 68px;
            height: 68px;
            float: left; }
          .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail {
            margin-left: 14px;
            float: left; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail span {
              display: block; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail .pro_title {
              font-size: 16px;
              color: #222222;
              letter-spacing: 1px;
              text-align: left; }
            .add_product_dialog .center_v .pro_v .pro_list_v .pro_item .pro_detail .pro_price {
              font-size: 18px;
              color: #ea6a79;
              letter-spacing: 1.12px;
              text-align: left;
              margin-top: 25px; }
  .add_product_dialog .bot_v {
    width: 218px;
    margin: 26px auto auto auto; }
    .add_product_dialog .bot_v a {
      border-radius: 5px;
      width: 88px;
      height: 32px;
      display: inline-block;
      float: left;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer; }
    .add_product_dialog .bot_v .pro_cancel {
      background: #6bc2ef; }
    .add_product_dialog .bot_v .pro_cancel:active {
      background: #3caee9; }
    .add_product_dialog .bot_v .pro_add {
      margin-left: 42px;
      background: #ea6a79; }
    .add_product_dialog .bot_v .pro_add:active {
      background: #e22238; }

.add_shipment {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 405px;
  height: 228px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .add_shipment .title {
    display: inline-block;
    font-size: 16px;
    color: #222222;
    height: 32px;
    line-height: 32px;
    width: 64px;
    margin: 52px auto auto 72px; }
  .add_shipment .stitle {
    display: inline-block;
    font-size: 16px;
    color: #222222;
    height: 32px;
    line-height: 32px;
    width: 64px;
    margin: 12px auto auto 72px; }
  .add_shipment select {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    width: 182px;
    height: 32px;
    margin-left: 8px; }
  .add_shipment .input {
    margin-left: 8px;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 182px;
    height: 30px;
    padding-left: 6px; }
  .add_shipment .bot_v {
    width: 218px;
    margin: 29px auto auto auto; }
    .add_shipment .bot_v a {
      border-radius: 5px;
      width: 88px;
      height: 32px;
      display: inline-block;
      float: left;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer; }
    .add_shipment .bot_v .pro_cancel {
      background: #6bc2ef; }
    .add_shipment .bot_v .pro_cancel:active {
      background: #3caee9; }
    .add_shipment .bot_v .pro_add {
      margin-left: 42px;
      background: #ea6a79; }
    .add_shipment .bot_v .pro_add:active {
      background: #e22238; }

.add_shipment_fq {
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 405px;
  height: 228px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .add_shipment_fq .title {
    display: inline-block;
    font-size: 16px;
    color: #222222;
    height: 32px;
    line-height: 32px;
    width: 64px;
    margin: 52px auto auto 72px; }
  .add_shipment_fq .input {
    margin-left: 8px;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 182px;
    height: 30px;
    padding-left: 6px; }
  .add_shipment_fq .bot_v {
    width: 218px;
    margin: 73px auto auto auto; }
    .add_shipment_fq .bot_v a {
      border-radius: 5px;
      width: 88px;
      height: 32px;
      display: inline-block;
      float: left;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer; }
    .add_shipment_fq .bot_v .pro_cancel {
      background: #6bc2ef; }
    .add_shipment_fq .bot_v .pro_cancel:active {
      background: #3caee9; }
    .add_shipment_fq .bot_v .pro_add {
      margin-left: 42px;
      background: #ea6a79; }
    .add_shipment_fq .bot_v .pro_add:active {
      background: #e22238; }

.remark_drop {
  background: #ff1234;
  width: 246px;
  height: 100px; }

/*# sourceMappingURL=modal.css.map */
